<div class="user-details">
    <h1> 关于我 </h1>
    <p> {{ site.user_descriptio }} </p>
  </div>
    <div class="user">
      <div class="tech">
        <h2>工作</h2>
        <i class="fa-solid fa-desktop"></i>
        <i class="fa-solid fa-code-branch"></i>
        <i class="fa-brands fa-github"></i>
        <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
      </div>
      <div class="tech">
        <h2>学习</h2>
        <i class="fa-solid fa-book"></i>
        <i class="fa-solid fa-square-pen"></i>        
        <i class="fa-brands fa-wikipedia-w"></i>
        <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
          Vinyl XOXO lumbersexual</p>
      </div>
      <div class="tech">
        <h2>观点</h2>
        <i class="fa-brands fa-bilibili"></i>
        <i class="fa-brands fa-weibo"></i>        
        <i class="fa-brands fa-zhihu"></i>
        <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
          Vinyl XOXO lumbersexual</p>
      </div>
  </div>