<div class="user-details">
    <h1> 关于我 </h1>
    <p> {{ site.user_description }} </p>
  </div>
    <div class="user">
      <div class="tech">
        <h2>工作</h2>
        <i class="fa-brands fa-edge-legacy" style="color: #0b70d0;"></i>
        <i class="fa-solid fa-bug" style="color: #53a349;"></i>
        <i class="fa-brands fa-github" style="color: #924dad;"></i>
        <p>曾是程序员，喜欢数学和编程，会在
          <a href="https://github.com/windbio" target="_blank"> Github </a>
          平台上分享一些工作经验和知识
        </p>
      </div>
      <div class="tech">
        <h2>学习</h2>
        <i class="fa-solid fa-book" style="color: #d0b06f;"></i>
        <i class="fa-solid fa-pen" style="color: #af6222;"></i>
        <i class="fa-brands fa-wikipedia-w"></i>
        <p>通过书籍和<a href="https://www.wikipedia.org" target="_blank"> Wikipedia </a>进行学习，通过<a href="https://www.notion.so" target="_blank"> Notion </a>记录学习感悟和实践过程</p>
      </div>
      <div class="tech">
        <h2>观点</h2>
        <i class="fa-brands fa-bilibili" style="color: #46b8fe;"></i>
        <i class="fa-brands fa-weibo" style="color: #d8101e;"></i>        
        <i class="fa-brands fa-zhihu" style="color: #118cf9;"></i>
        <p>喜欢分享自己的想法，会在<a href="https://space.bilibili.com/3493119548984089" target="_blank"> B 站</a>、<a href="https://www.zhihu.com/people/windism666" target="_blank">知乎</a>和<a href="https://weibo.com/u/7814590825" target="_blank">微博</a>等平台进行分享。公众号：丰主义</p>
      </div>
  </div>