<div id="home">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.title }}</span>
            <span class="site-description">{{ site.description }}</span>
        </h1>
        <div class="header-icons">
            <a aria-label="Bilibili" target="_blank" href="https://space.bilibili.com/{{ site.bilibili }}"><i class="icon fa-brands fa-bilibili" aria-hidden="true"></i></a>
            <a aria-label="Weibo" target="_blank" href="https://weibo.com/u/{{ site.weibo }}"><i class="icon fa-brands fa-weibo" aria-hidden="true"></i></a>
            <a aria-label="Github" target="_blank" href="https://github.com/{{ site.github }}"><i class="icon fa-brands fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="Email" href="mailto: {{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        </div>
        <div class="header-links">
            <a class="link" href="{{ site.about }}">关于</a>
            <a class="link" href="{{ site.blog }}">博客</a>
        </div>
    </div>
</div>