<div class="user-details">
    <h1> 项目 </h1>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ "/src/img/algorithm.png" }}" />
    </div>
    <div class="contents-right">
        <h3> 算法 </h3>
        <ul>
            <li>数组、栈、队列、链表、图 ······</li>
            <li>贪心、分治、动态规划 ······</li>
        </ul>
        <p>算法是编程的核心，该项目记录了考研复试和应聘面试中最常见的核心算法，旨在帮助学习者提高考研复试和应聘面试时的竞争力。
            <a href="https://www.notion.so/windbio/500f0f00b38a450c9cb51fca65c9dedd" target="_blank">查看详情</a>
        </p>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ "/src/img/cs.jpeg" }}" />
    </div>
    <div class="contents-right">
        <h3> 计算机考研核心课程 </h3>
        <ul>
            <li>数据结构、操作系统、计算机网络 ······</li>
            <li>高等数学、线性代数 ······</li>
        </ul>
        <p>计算机考研竞争愈加激烈，本项目将计算机考研相关的核心课程制作成了记忆卡片，方便学者通过电子设备随时随地进行学习。
            <a href="https://windbio.notion.site/c7ac5693bef84517977258ef1806e340" target="_blank">查看详情</a>
        </p>
    </div>
</div>